{
    "mqtt" : {
        "user" : "root",
        "password" : "myPassword",
        "port" : 8883,
        "host" : "myHost"        
    },
    "users" : {
        "userId" : {
            "name" : "User Name",
            "devices" : {
                "topic" : "tasmota_12344",
                "mode" : "learning",
                "minCurrent" : 60,
                "timeout" : 120,
                "number" : "0123455",
                "message" : "Hallo, ich bin fertig."
            }
        }
    }
}